<!-- Header -->
<div id="header">

  <div class="top">

    <!-- Logo -->
      <div id="logo">
        <span class="image avatar48"><img src="/images/avatar.png" alt="" /></span>
        <h1 id="title">Jane Doe</h1>
        <p>Hyperspace Engineer</p>
      </div>

    <!-- Nav -->
      <nav id="nav">
        <!--

          Prologue's nav expects links in one of two formats:

          1. Hash link (scrolls to a different section within the page)

             <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

          2. Standard link (sends the user to another page/site)

             <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

        -->
        <ul>
          {% for item in site.menu %}
          <li><a href="{{ item[1].link }}" class="skel-layers-ignoreHref {% if page.url == item[1].link %}active{% endif %}"><span class="icon fa-{{ item[1].icon }}">{{ item[0] }}</span></a></li>
          {% endfor %}
        </ul>
      </nav>

  </div>

  <div class="bottom">

    <!-- Social Icons -->
      <ul class="icons">
        {% if site.social.twitter %}
        <li><a href="https://twitter.com/{{ site.social.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        {% endif %}
        {% if site.social.github %}
        <li><a href="https://github.com/{{ site.social.github }}" class="icon fa-github"><span class="label">Github</span></a></li>
        {% endif %}
        {% if site.social.drupal %}
        <li><a href="https://drupal.org/u/{{ site.social.drupal }}" class="icon fa-drupal"><span class="label">Drupal</span></a></li>
        {% endif %}
      </ul>

  </div>

</div>
