.post-preview > a > .post-title {
    font-size: 24px;
}

@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 26px;
    }
}

.post-preview > .post-meta {
    font-style: normal;
    font-family: 'Lora', serif;
    font-size: unset;
    font-weight: normal;
    margin-bottom: 10px;
    color: #a3a3a3;
}

.post-content-preview {
    font-style: normal;
    color: #404040;
    font-size: inherit;
}

.post-content-preview:hover {
    color: unset;
}

.short-about img {
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 20px 0;
}

.post-container ul, .post-container ol {
    margin-bottom: 30px;
}

blockquote {
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5 .h5, h6 .h6 {
    font-family: 'Montserrat', sans-serif;
}

.intro-header .post-heading .meta {
    font-family: Lora, serif;
    font-style: normal;
}

code, pre, kbd, samp {
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
}
