.mobile-navbar .mobile-header-logo .logo {
    font-size: 16px;
    text-transform: uppercase;
}

.header .logo-wrapper .logo {
    text-transform: uppercase;
}

.post .post-content {
    figure.highlight .line {
        height: 1.2em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
}
