---
layout: default
---

<section id="article-list" class="two">
  <div class="container">
    <header>
      <h2>Archive of posts with {{ page.type }} '{{ page.title }}'</h2>
    </header>

    <div class="articles">
      {% for post in page.posts %}
      <article>
        <header>
          <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p class="post-meta">Posted on <time>{{ post.date | date: "%b %-d, %Y" }}</time></p>
        </header>

        <div class="post-content">
        {{ post.excerpt }}
        </div>
      </article>
    {% endfor %}
    </div>
  </div>
</section>
