---
layout: default
---
<article class="two post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container">
    <header>
      <h2>{{ page.title }}</h2>
      <div class="post-meta">
        <p>Posted on <time>{{ page.date | date: "%b %-d, %Y" }}</time></p>
        <aside>
          {% if page.categories.size > 0 %}
          <h3>Categories</h3>
          <ul class="categories">
            {% for category in page.categories %}
            <li>{{ category }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if page.tags.size > 0 %}
          <h3>Tags</h3>
          <ul class="tags">
            {% for tag in page.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </aside>
      </div>
    </header>

    <div class="post-content">
    {{ content }}
    </div>
  </div>
</article>
